<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mageugenes\Recipes\Api\RecipesRepositoryInterface" type="Mageugenes\Recipes\Service\RecipesRepository"/>
    <preference for="Mageugenes\Recipes\Api\RecipesListInterface" type="Mageugenes\Recipes\Service\RecipesList"/>
    <preference for="Mageugenes\Recipes\Api\Data\RecipesSearchResultInterface" type="Mageugenes\Recipes\Model\Recipes\Collection"/>
</config>
